.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: var(--tw-gray-200);
  color: var(--tw-gray-700);
}

.list {
  display: flex;
  flex-direction: column;
  padding: 24px;
  gap: 24px;
  list-style: none;
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
}

.list-item {
  padding: 8px;
}

.active {
  color: var(--tw-gray-900);
  font-weight: 600;
}

@media screen and (min-width: 768px) {
  .list {
    flex-direction: row;
  }
}
